/* Bannar Conatainer */
.banner-img {
  width: 100%;
  object-fit: cover;
  height: 550px;
}

.banner-msg {
  top: 200px;
  width: 100%;
  z-index: 2;
}

.overlay {
  background-color: #5dc8db6c;
  height: 550px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}

/* Cart Container */
.cart-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.cart-items {
  border: 3px solid #5dc9db;
  border-radius: 1rem;
}
.cart-item {
  display: grid;
  grid-template-columns: 20% 80%;
}

.cart-item svg {
  width: 100% !important;
  height: 50px;
}
/* Home Section Three */
.HomeSectionThree {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 16px 150px;
}

.homeSectionThreeItem {
  border: 3px solid #5dc9db;
  border-radius: 1rem;
}


@media screen and (max-width: 1366px) {
  /*  */
  .banner-img {
    height: 380px;
  }

  .banner-msg {
    top: 100px;
  }

  .overlay {
    height: 380px;
  }

  .cart-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .HomeSectionThree {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px 20px;
  }  
}

@media screen and (max-width: 991px) {
  .cart-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .HomeSectionThree {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 500px) {
  .banner-msg {
    top: 50px;
  }

  .banner-link {
    flex-direction: column;
    align-items: center !important;
  }

  .cart-item {
    grid-template-columns: 1fr;
    justify-content: center !important;
    
  }

  .cart-items {
    padding: 3px !important;
    align-items: center !important;
  }

  .cart-item svg {
    width: 30% !important;
  }

  .homeSectionThreeItem {
    padding: 10px 5px !important;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
     align-items: center !important;
  }
}
@media screen and (max-width: 339px) {
  .banner-img {
    height: 430px;
  }

  .overlay {
    height: 430px;
  }
}
@media screen and (max-width: 300px) {
  .banner-img {
    height: 450px;
  }

  .overlay {
    height: 450px;
  }
  .banner-msg {
    top: 20px;
  }

  .cart-container {
    padding: 10px 0 !important;
  }

  .HomeSectionThree {
   padding: 0 !important;
  }

  .homeSectionThreeItem {
    padding: 10px 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
     align-items: center !important;
  }
}
@media screen and (max-width: 264px) {
  .banner-img {
    height: 490px;
  }

  .overlay {
    height: 490px;
  }
}
@media screen and (max-width: 240px) {
  .banner-img {
    height: 530px;
  }

  .overlay {
    height: 530px;
  }
  .banner-msg {
    top: 10px;
  }

  .cart-container {
    padding: 10px 0 !important;
  }

  .HomeSectionThree {
   padding: 0 !important;
  }

  .homeSectionThreeItem {
    padding: 10px 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
     align-items: center !important;
  }
}
