.header {
    background: #5dc9db;
    color: #1f1f38 ;
}
  
  .footer-socials a {
    background:  #fff;
    color: #1f1f38;
    padding: 0.6rem;
    border-radius: 0.4rem;
    display: flex;
    border: 1px solid transparent;
  }
  
  .footer-socials a:hover {
    background: transparent;
    color: #1f1f38;
    border-color: #1f1f38;
  }