.header {
  background: #5dc9db;
  color: #1f1f38;
  padding: 5px 50px;
}

.footer-socials a {
  color: #1f1f38;
  border-radius: 0.4rem;
  display: flex;
  border: 1px solid transparent;
}

.footer-socials a:hover {
  background: transparent;
  border-color: #1f1f38;
}

.navbar-nav {
 width: 100%;
 display: flex !important;
 justify-content: flex-end !important;
}

@media screen and (max-width: 992px) {
    .header {
        padding: 0 0;
      }
    .navuperhead {
        position: absolute;
        top: 280px;
        background-color: #5dc9db;
        width: 100%;
        left: 0;
      }

  .review {
    display: none !important;
  }

  .navbar {
    width: 100%;
  }
}

