.header {
  background: #5dc9db;
  padding: 5px 80px;
  font-size: 18px;
}

.navbar-nav {
  width: 100%;
  display: flex !important;
  justify-content: flex-end !important;
  
}

@media screen and (max-width: 1300px) {
  .header {
    padding: 5px 5px;
    font-size: 15px;
  }
}
@media screen and (max-width: 992px) {
  .header {
    padding: 0 0;
    font-size: 19px;
  }
  .navuperhead {
    position: absolute;
    top: 298px;
    background-color: #5dc9db;
    width: 100%;
    left: 0;
    z-index: 4;
  }

  .review {
    display: none !important;
  }

  .navbar {
    width: 100%;
  }
}

@media screen and (max-width: 287px) {
  .navuperhead {
    top: 333px;
  }
}

@media screen and (max-width: 276px) {
  .navuperhead {
    top: 361px;
  }
}

@media screen and (max-width: 228px) {
  .navuperhead {
    top: 408px;
  }
}

@media screen and (max-width: 199px) {
  .navuperhead {
    top: 430px;
  }
}
