@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --brand-color: #5dc8dbb6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #1f1f38 !important;
}

span {
  background-color: var(--brand-color);
  font-size: larger;
  font-weight: 700;
  border: none;
  border-radius: 0.3rem;
  padding:  0 5px;
}

a {
  text-decoration: none;
  font-weight: 900;
  color: #1f1f38;
  border: 1px solid transparent;
}

a:hover {
  background-color: transparent !important;
  border-color: #1f1f38 !important;
  color:#1f1f38 !important;
}

li {
  list-style-type: none;
}

.read-more {
  background-color: #5dc9db;
  width: 40%;
}

.swiper {
  align-items: center !important;
}

.accredation {
  width: 100%;
}

@media screen and (max-width: 500px) {
  .read-more {
    background-color: #5dc9db;
    width: 100%;
  }
}