@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* fonts */

@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

:root {
  --brand-color: #5dc8dbb6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  color: #1f1f38 !important;
  line-height: 1.7;
  position: relative;
}

span {
  background-color: var(--brand-color);
  font-size: larger;
  font-weight: 700;
  border: none;
  border-radius: 0.3rem;
  padding: 0 5px;
}

a {
  text-decoration: none;
  font-weight: 900;
  color: #fff !important;
  border: 1px solid transparent;
}

button {
  font-weight: 900;
  color: #1f1f38;
  border: 1px solid transparent;
}

a:hover {
  background: transparent !important;
  border-color: #1f1f38 !important;
  color: #1f1f38 !important;
}

button:hover {
  background: transparent !important;
  border-color: #1f1f38 !important;
  color: #1f1f38 !important;
}

.read-more {
  background: linear-gradient(#40c5f2, #0097c8);
  color: rgb(0, 0, 0);
}

.swiper {
  align-items: center !important;
}

.accredation {
  width: 100%;
}

@media screen and (max-width: 500px) {
  .read-more {
    background-color: #5dc9db;
    width: 100%;
  }
}
